
<div class="relative-wrap"><div class="center-offset"><div class="reg-block">
<h2>Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <%= render "devise/errors/errors" %>

  <div class="field">
    <%= f.label 'E-mail' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Выслать инструкции по восстановлению" %>
  </div>
<% end %>


</div></div></div>