<% unless current_user %>
    <%= render "chat/session_alert" %>
<% end %>

<div class="room-select-menu-wrap">
  <div class="room-select-menu">

    <div class="room-select">
      <div class="room-palceholder"></div>
      <div class="room-thumb">
        <%= link_to  csgo_chat_path('search'), class: 'hoverable' do %>
            <%= image_tag 'room_select/search.png', class: 'hover-none' %>
            <%= image_tag 'room_select/search-hover.png', class: 'hover' %>
        <% end %>
      </div>

      <div class="room-thumb">
        <%= link_to  csgo_chat_path('trade'), class: 'hoverable' do %>
            <%= image_tag 'room_select/market.png', class: 'hover-none' %>
            <%= image_tag 'room_select/market-hover.png', class: 'hover' %>
        <% end %>
      </div>

      <div class="room-thumb">
        <%= link_to  csgo_chat_path('talk'), class: 'hoverable' do %>
            <%= image_tag 'room_select/flood.png', class: 'hover-none' %>
            <%= image_tag 'room_select/flood-hover.png', class: 'hover' %>
        <% end %>
      </div>

    </div>
  </div>
</div>