<div class="relative-wrap"><div class="center-offset">
<div class="reg-block">

    <div><%= image_tag('login/logo.png') %></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= render "devise/errors/errors" %>

      <div class="field">
        <%= f.label 'E-mail:' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label 'Пароль:' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %><br />
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Забыли пароль?", new_password_path(resource_name) %><br />
      <% end -%>

      <div class="actions">
        <%= image_submit_tag 'login/login-btn.png', class: 'hoverable' %>
      </div>
    <% end %>



</div></div></div>